.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.person {
  background-color: cyan;
  border: 5px solid rgb(122, 180, 255);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
.companions{
  background-color: rgb(255, 235, 120);
  border: 5px solid rgb(255, 187, 0);
  border-radius: 10px;
  margin: 100px;
  padding: 20px;
}


.companions2{
  background-color: rgb(120, 183, 255);
  border: 5px solid rgb(0, 110, 255);
  border-radius: 10px;
  margin: 100px 300px;
  padding: 20px;
}



.wives{
  background-color: rgb(120, 255, 244);
  border: 5px solid rgb(0, 255, 157);
  border-radius: 500px;
  margin: 50px 400px;
  padding: 20px;
}
